.buttonsGroup {
  display: flex;
  justify-content: center ;
  margin-top: 20px;
    gap: 10px;
}

table.contacts {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 600px;
}

td, th {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}